<!DOCTYPE html>
<html>
<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h2>Thêm nguyên liệu mới</h2>
	<form th:action='@{/ingredient/add}' method="post" th:object="${ingredient}">
		<table boder="0">
			<tr>
				<td>Tên:</td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td>Mô tả:</td>
				<td><input type="text" th:field="*{description}"/></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Thêm" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
