<!DOCTYPE html>
<html>
    <head>
        <title>Dang nhap</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    	<h4 th:if="${session.err}" style="color: red"> Sai tên đăng nhập hoặc mật khẩu</h4>
        <h1>Đăng nhập</h1>
        <form th:action="@{/checklogin}" method="post">
            <table border="0">
                <tr>
                    <td>Tên đăng nhập: </td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td>Mật khẩu: </td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Đăng nhập"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>