<!DOCTYPE html>
<html>
    <head>
        <title>Quan ly nha cung cap</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <button type="button"><a th:href="@{/supplier/searchSupplier?action=quanli}">Quản lý nhà cung cấp</a></button></br></br>
        <button type="button"><a th:href="@{/supplier/searchSupplier?action=nhaphang}">Nhập nguyên liệu từ nhà cung cấp</a></button></br></br>
        <button type="button"><a th:href="@{/stat}">Thống kê nhà cung cấp theo số lượng nhập</a></button></br></br>
        <button type="button"><a th:href="@{/booked}">Thanh toán</a></button></br></br>
        <button type="button"><a th:href="@{/#}">Đăng xuất</a></button></br></br>
    </body>
</html>